* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #fff;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.inner-wrap {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  background: #E2E2E2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  font-weight: 700;
}

header {
  background: #fff;
  margin: 20px auto;
}
header .inner_logo {
  width: 200px;
  height: 60px;
}
header .inner_menu {
  flex: 1;
  height: 34px;
}
header .inner_button {
  width: 120px;
  height: 42px;
}

.section1 {
  background: #f1f1f1;
  padding: 80px 0;
}
.section1 .content_inner {
  width: calc((100% - 30px) / 2);
  height: 267px;
}
.section1 .image_inner {
  width: calc((100% - 30px) / 2);
  height: 520px;
}

.section2 {
  padding: 80px 0;
}
.section2 .box_item1 {
  width: calc((100% - 30px * 2) / 3);
  height: 420px;
}

.section3 {
  background: #f1f1f1;
  padding: 80px 0;
}
.section3 .box_item2 {
  width: calc((100% - 30px * 4) / 5);
  height: 300px;
}

.section4 {
  padding: 80px 0;
}
.section4 .box_item3 {
  width: calc((100% - 30px * 3) / 4);
  height: 300px;
}

.box_title {
  width: 600px;
  height: 80px;
  margin: 0 auto 40px auto;
  font-size: 20px;
  font-family: "Lora", serif;
}

.footer {
  width: 100%;
  height: 72px;
  background: #d9d9d9;
  font-size: 16px;
  border-radius: 0;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 15px 0;
  }
  header .inner_logo {
    width: 140px;
    height: 42px;
  }
  header .inner_button {
    width: 102px;
    height: 36px;
    padding: 0 16px;
  }
  header .inner_menu {
    height: 30px;
  }
  .section1 {
    padding: 60px 0;
  }
  .section1 .image_inner {
    height: 310px;
  }
  .section2 {
    padding: 60px 0;
  }
  .box_title {
    width: 95%;
    height: 60px;
    margin-bottom: 30px;
  }
  .section2 .box_item1 {
    width: calc((100% - 30px * 1) / 2);
    height: 420px;
  }
  .section3 {
    padding: 60px 0;
  }
  .section3 .inner-wrap {
    justify-content: flex-start;
  }
  .section3 .box_item2 {
    width: calc((100% - 30px * 2) / 3);
    height: 300px;
  }
  .section4 {
    padding: 60px 0;
  }
  .section4 .box_item3 {
    width: calc((100% - 30px * 1) / 2);
    height: 300px;
  }
}

@media screen and (max-width: 750px) {
  header .inner-wrap {
    flex-direction: row;
    align-items: center;
  }
  header .inner_menu {
    order: 0;
    width: 66px;
    height: 36px;
    font-size: 16px;
    flex: none;
  }
  header .inner_logo {
    order: 1;
    width: 140px;
    height: 42px;
  }
  header .inner_button {
    order: 2;
    width: 78px;
    height: 36px;
    font-size: 16px;
  }

  .section1 {
    padding: 15px 0;
  }
  .section1 .inner-wrap {
    flex-direction: column;
  }
  .section1 .content_inner {
    width: 100%;
    height: 267px;
    order: 1;
  }
  .section1 .image_inner {
    width: 100%;
    height: 491px;
    order: 0;
  }

  .box_title {
    width: 95%;
  }

  .section2 {
    padding: 15px 0;
  }
  .section2 .box_item1 {
    width: 100%;
    height: 420px;
  }

  .section3 {
    padding: 15px 0;
  }
  .section3 .inner-wrap {
    justify-self: start;
  }
  .section3 .box_item2 {
    width: calc((100% - 30px * 1) / 2);
    height: 300px;
  }

  .section4 {
    padding: 15px 0;
  }
  .section4 .inner-wrap {
    justify-content: center;
  }
  .section4 .box_item3 {
    width: calc((100% - 30px * 1) / 2);
    height: 300px;
  }
}
